<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1 class="showList-heading">List: <%= list.name %></h1>
      <hr />

      <h1 class="products-heading">Products</h1>

      <ul class="list-group">
        <% list.products.forEach((product) => { %>
        <li class="list-group-item">
          <a href="/lists/<%= list.id %>/products/<%= product.id %>">
            <%= product.name %>
          </a>
        </li>
        <% }) %>
      </ul>

      <a href="/lists/<%= list.id %>/edit" class="btn btn-warning edit-btn"
        >Edit</a
      >

      <a
        href="/lists/<%= list.id %>/products/new"
        class="btn btn-success addProduct-btn"
        >Add Product</a
      >

      <form
        style="display:initial"
        action="/lists/<%= list.id %>/destroy"
        method="post"
      >
        <button type="submit" class="btn btn-danger delete-btn">Delete</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
